##
# Ensure git lfs installed/enabled and hooks are in place
##
git lfs install --force
export __PROJECT_DIRENV_INSTALLED=1

##
# ensure pre-commit is installed
##
pre-commit install && pre-commit install --hook-type commit-msg

dotenv_if_exists
